<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3349788438522445</string>
				<string>venne</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3349788438522445</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>79a8484f4e0d4f036f58e247284eb9ef</string>
	<key>FacebookDisplayName</key>
	<string>Venne</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
		<string>tiktok</string>
		<string>comgooglemaps</string>
		<string>tweetie</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>mqq</string>
		<string>itms-apps</string>
		<string>itms-services</string>
		<string>squarecash</string>
		<string>cashme</string>
		<string>upi</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>gpay</string>
		<string>com.amazon.mobile.shopping</string>
		<string>mobikwik</string>
		<string>freecharge</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>huanniuchat.oss-accelerate.aliyuncs.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>texgyreadventor-regular.otf</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAuthorizationOptions</key>
		<array>
			<string>alert</string>
		</array>
	</dict>
</dict>
</plist>
